# 启用调试模式APP_DEBUG = trueENABLE_REGISTER = true # 是否开启注册功能API_KEY = 123456 # API Key，用于调用前端的APIWEBDRIVER = http://localhost:4444 # Webdriver地址，末尾不要加斜杠TASK_HEADLESS = true # 是否启用任务后台运行，即不显示浏览器窗口ENABLE_PROXY_POOL = false # 是否启用代理池PROXY_AUTO_DISABLE = false # 当后端报告代理不可用时，是否自动禁用该代理[BACKEND]# 后端API配置# 通过后端API可实现在前端控制解锁任务，做到实时更新，并允许用户触发解锁# 由于后端API采用HTTP协议，强烈建议监听127.0.0.1而非0.0.0.0# 如果前端与后端不在同一台服务器上，强烈建议使用nginx等进行反代ENABLE_API = falseLISTEN_IP = 127.0.0.1LISTEM_PORT = 3939API_URL = http://127.0.0.1:3939TOKEN = 123456[DATABASE]# 数据库连接信息TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = appleid_autoUSERNAME = rootPASSWORD = 123456HOSTPORT = 3306