# 启用调试模式APP_DEBUG = false# 是否开启注册功能ENABLE_REGISTER = true# API Key，用于调用前端的API# 请修改为随机字符串API_KEY = 123456# Webdriver地址，末尾不要加斜杠，若公网IP无法使用，请使用docker内网IPWEBDRIVER = http://x.x.x.x:4444# 是否启用任务后台运行，即不显示浏览器窗口TASK_HEADLESS = true# 是否启用代理池ENABLE_PROXY_POOL = false# 当后端报告代理不可用时，是否自动禁用该代理PROXY_AUTO_DISABLE = false# 当任务执行失败是，是否5分钟后重试，否则直接等待下一次执行任务FAIL_RETRY = true# 分享时账号是否随机排序SHARE_RANDOM = true[BACKEND]# 后端API配置# 通过后端API可实现在前端控制解锁任务，做到实时更新，并允许用户触发解锁# 由于后端API采用HTTP协议，强烈建议监听127.0.0.1而非0.0.0.0# 如果前端与后端不在同一台服务器上，强烈建议使用nginx等进行反代# 修改后请重启后端appleauto服务ENABLE_API = falseLISTEN_IP = 127.0.0.1LISTEN_PORT = 3939# 注意：这里的API_URL是后端的API，不是安装后端时所需要的前端API URL# 如果不知道如何配置，请保持默认值即可API_URL = http://127.0.0.1:3939# 请修改为随机字符串TOKEN = 1234561[DATABASE]# 数据库连接信息TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = appleid_autoUSERNAME = rootPASSWORD = 123456HOSTPORT = 3306[APP]# 时区设置DEFAULT_TIMEZONE = Asia/Shanghai