<header class="navbar navbar-expand-md navbar-light d-print-none">
    <div class="container-xl">
        <a class="navbar-brand" href="/user">AppleID 自动化管理</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/user/index">用户中心</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/account">账号管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/share">分享页管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/proxy">代理池</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/info">个人信息</a>
                </li>
                {if isAdmin(session("user_id"))}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">管理面板</a>
                    </li>
                {/if}
            </ul>
        </div>
        <a class="btn btn-danger order-md-last" href="/user/logout">登出</a>
    </div>
</header>