{include file="user/header"}

<title>用户中心</title>
<div class="container" style="margin-top: 1%">
    <div class="card border-dark">
        <h4 class="card-header">用户中心</h4>
        <ul class="list-group">
            <li class="list-group-item">
                <b>用户ID:</b> {$user.id}
            </li>
            <li class="list-group-item">
                <b>账号数量:</b> {$account_count}

            </li>
            <li class="list-group-item">
                <b>分享页数量:</b> {$share_count}

            </li>
        </ul>
    </div>
</div>