{include file="admin/header"}

<div class="container" style="margin-top: 2%; width: {isMobile()?" auto" : "30%"};">
<div class="card border">
    <form action="" method="post" style="margin: 20px;">
        <div class="input-group mb-3">
            <span class="input-group-text" id="protocol">协议</span>
            <select class="form-select" name="protocol" aria-label="protocol">
                {volist name="protocols" id="protocol"}
                    <option value="{$protocol}" {$proxy->protocol==$protocol?"selected":""}>{$protocol}</option>
                {/volist}
            </select>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="password">内容</span>
            <input type="text" class="form-control" name="content" required autocomplete="off"
                   value="{$proxy->content}">
        </div>
        {if $action=="edit"}
            <div class="input-group mb-3">
                <span class="input-group-text" id="last_use">上次使用</span>
                <input type="text" class="form-control" disabled value="{$proxy->last_use}">
            </div>
        {/if}
        <div class="input-group mb-3">
            <div class='form-check form-switch'>启用
                <input type="checkbox" class="form-check-input" name="status" {$proxy->status?"checked":""}>
            </div>
        </div>
        <input type="hidden" name="action" value="{$action}">
        <input type="submit" name="submit" class="btn btn-primary btn-block" value="{$action=="add"?"添加":"保存"}">
    </form>
</div>
</div>
{include file="user/footer"}
