{include file="admin/header"}

<title>分享页管理</title>
<div class="container" style="padding-top:70px;">
    <div class="col-md-12 center-block" style="float: none;">
        <div class="table-responsive">
            <h1> 分享页管理</h1>
            <table class="table table-striped table-nowrap">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>备注</th>
                    <th>账号数量</th>
                    <th>过期时间</th>
                    <th>操作</th>
                </tr>
                <script>
                    var clipboard = new ClipboardJS('.btn');

                    function alert_success() {
                        Swal.fire({
                            icon: 'success',
                            title: '提示',
                            text: '复制成功',
                            timer: 1000,
                            timerProgressBar: true
                        });
                    }
                </script>
                </thead>
                <tbody>
                {if $shares->isEmpty()}
                <tr>
                    <td class="text-center" colspan="5">暂无数据</td>
                </tr>
                {/if}
                {volist name="shares" id="share"}
                <tr>
                    <td>{$share.id}</td>
                    <td>{$share.remark}</td>
                    <td>{$count=count(explode(',',$share.account_list))}</td>
                    <td>{$share.expire==null?"永不过期":$share.expire}</td>
                    <td>
                        <a class="btn btn-secondary" href="/admin/share/{$share.id}">编辑</a>
                        <button class="btn btn-danger delete-button" data-id="{$share.id}">删除</button>
                        <button class="btn btn-success" data-clipboard-text="{$shareURL.$share.share_link}" onclick="alert_success()">复制链接</button>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
            {$shares|raw}
        </div>
    </div>
</div>
<script>
    // 找到所有带有.delete-user类名的按钮
    var deleteButtons = document.querySelectorAll('.delete-button');
    // 遍历所有按钮并为每个按钮添加一个点击事件监听器
    deleteButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            // 获取该按钮的data-id属性，即任务ID
            var Id = button.getAttribute('data-id');

            // 显示SweetAlert2确认弹窗
            Swal.fire({
                title: '您确定要删除该分享页吗？',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: '确认删除',
                cancelButtonText: '取消'
            }).then(function (result) {
                // 如果用户点击了“确认”按钮，则向服务器发送DELETE请求
                if (result.value) {
                    // 发送DELETE请求
                    fetch('/admin/share/' + Id, {
                        method: 'DELETE'
                    }).then(function (response) {
                        // 处理服务器响应
                        if (response.ok) {
                            // 解析响应数据
                            return response.json();
                        } else {
                            // 如果删除失败，显示SweetAlert2错误提示框
                            throw new Error('HTTP error ' + response.status);
                        }
                    }).then(data => {
                        if (data.status === true) {
                            // 如果删除成功，显示SweetAlert2成功提示框
                            Swal.fire({
                                title: '已成功删除！',
                                confirmButtonText: '确定',
                                icon: 'success'
                            }).then(function (result) {
                                // 如果用户点击了“确定”按钮，则刷新页面
                                if (result.value) {
                                    location.reload();
                                }
                            });
                            setTimeout(function () {
                                location.reload();
                            }, 2000);
                        } else {
                            // 如果删除失败，显示SweetAlert2错误提示框
                            throw new Error(data.msg);
                        }
                    }).catch(error => {
                        // 处理错误
                        Swal.fire({
                            title: error.message,
                            text: error.toString(),
                            icon: 'error'
                        });
                    });
                }
            });
        });
    });
</script>
{include file="user/footer"}
