{include file="admin/header"}

<div class="container" style="margin-top: 2%; width: auto;">
<div class="card border">
    <h2 class="card-header bg-primary text-white text-center">编辑用户</h2>
    <form action="" method="post" style="margin: 20px;">
        <div class="input-group mb-3">
            <span class="input-group-text" id="id">账号</span>
            <input type="text" class="form-control" name="username" required autocomplete="off"
                   value="{$user->username}">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="password">密码</span>
            <input type="password" class="form-control" name="password" placeholder="不修改请留空">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="tg_bot_token">TELEGRAM机器人令牌</span>
            <input type="text" class="form-control" name="tg_bot_token" autocomplete="off" value="{$user->tg_bot_token}">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="tg_chat_id">TELEGRAM会话ID</span>
            <input type="text" class="form-control" name="tg_chat_id" autocomplete="off" value="{$user->tg_chat_id}">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="wx_pusher_id">微信PUSHER ID</span>
            <input type="text" class="form-control" name="wx_pusher_id" autocomplete="off" value="{$user->wx_pusher_id}">
        </div>
        <div class="form-check form-switch">
            管理员<input class="form-check-input" type="checkbox"
                               name="is_admin" {$user->is_admin?"checked":""}>
        </div>

        <input type="hidden" name="action" value="{$action}">
        <input type="submit" name="submit" class="btn btn-primary btn-block" value="{$action=="add"?"添加":"保存"}">
    </form>
</div>
</div>
{include file="user/footer"}
