<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>账号分享 - 密码错误</title>
</head>
<body>
<div class="modal" id="alert" tabindex="-1">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-status bg-danger"></div>
            <div class="modal-body text-center py-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24"
                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                     stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 9v2m0 4v.01"/>
                    <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"/>
                </svg>
                <h3>{$errorTitle}</h3>
                <div class="text-muted">{$errorMsg}</div>
            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn w-100" data-bs-dismiss="modal"
                                    onclick="window.location.href = window.location.href">返回
                            </button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-danger w-100" data-bs-dismiss="modal"
                                    onclick="window.close()">关闭页面
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // trigger the modal
    var myModal = new bootstrap.Modal(document.getElementById('alert'), {
        keyboard: false
    })
    myModal.show()
</script>
</body>
</html>