<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>账号分享 - 需要密码</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-4 offset-sm-4"
             style="display: flex;align-items: center;justify-content: center;height: 100vh;">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h3 class="card-title"><i class="fas fa-lock"></i> 该分享页已加密</h3>
                    <form method="post" action="">
                        <div class="form-group">
                            <label for="password" class="form-label">密码：</label>
                            <input type="password" class="form-control" id="password" name="password" required/>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">提交</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>